table.move
  col(width='430px')
  col(width='70px')
  col(width='70px')
  tr.title
    td(colspan=2).condition
      a(href=move.url) When #{move.condition} ...
    td.details
      .date=move.date
      !=partial('controls', { object: move.meta })
    td.stat
      +#{move.stat}
  tr
    td.definition(colspan=3)!=move.definition
    
    
    
