- var width = width || 9;
-  var nolinks = nolinks || false;
.move
  .row
    div(class='span' + width)
      .btn-group
        - if (nolinks)
          .btn-ish.btn-info
            b=move.condition
        - else
          a.btn.btn-info(href=move.url)
            b=move.condition
        .btn-ish.btn-normal +#{move.stat}
        .btn-ish.btn-normal=move.date_display
        - if (!nolinks)
          a.btn.btn-inverse(href=move.edit_url, rel='nofollow')
            i.icon-cog
  .row.definition
    div(class='span' + width)
      !=move.definition_markdown
  .row
    div(class='span' + width)
      .btn-group
        - if (move.source)
          a.btn.btn-info.btn-mini(href=move.source)
            i.icon-external-link
        - if (move.tags && move.tags.length > 0)
          !=partial('tag', { collection: move.tags })
        - if (move.authors)
          .btn-ish.btn-normal.btn-mini @#{move.authors}
