tr.title
  td(colspan=2).condition
    a(href=move.url) When #{move.condition} ...
  td.details
    .date=move.date
    !=partial('controls', { object: move.meta })
  td.stat
    +#{move.stat}
tr.def
  td.definition(colspan=3)!=move.definition
    
    
    
