#move
  .title When #{move.condition}, roll #{move.roll}
  .success On a 10+, #{move.success}
  .partial On a 7-9, #{move.partial}
  .failure On a miss, #{move.failure}
  a(href='/moves') Back
  | 
  a(href=_.template('/moves/<%=slug%>/edit', move)) Edit
